<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      footer {
        display:flex; justify-content: center; margin-top: 30px;
      }
      footer ul li {
        display: inline;
        margin: 3px;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <footer>
      <ul>
        <li>
          created by <a href="https://github.com/mittermichal">Michal 'Kimi' Mitter</a>
        </li>
        <li>
          <a href="https://gitlab.com/mittermichal/PUBobot-discord">source code</a> - forked from <a href="https://gitlab.com/pubobot-discord/PUBobot-discord">Pubobot</a>
        </li>
        <li>
          <a href="https://discord.gg/tTEDFfNu5f"><img alt="discord" src="https://img.shields.io/discord/363806372837457921.svg?label=&logo=discord&logoColor=ffffff&color=7389D8&labelColor=6A7EC2"></a>
        </li>
        <li>
          <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=BRRRFPT7N9NP6&amp;currency_code=EUR&amp;source=url"><img alt="Donate" src="https://img.shields.io/badge/Donate-PayPal-green.svg"></a>
        </li>
      </ul>
    </footer>
    <!-- built files will be auto injected -->
  </body>
</html>
