<!doctype html>
<html>
  <head>
    <title>WS example</title>
  </head>
  <body>
  <input name="message" type="text"></input>
  <button id="send">Send</button>
  <ul></ul>
  <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>