<template>
  <a :href="url"><button class="login">Login with discord account</button></a>
</template>

<script>
export default {
    name: 'Login',
    data() {
        return {
            url: `${process.env.VUE_APP_SERVER_URL}/login/`
        }
    }
}
</script>

<style>
button.login { margin: 1rem; }
</style>