<template>
  <div>
    <div v-if="pickups.length > 0">
      <ul class="pickups">
        <li v-for="pickup in pickups" :key="pickup.channel_id.toString()+pickup.name">
            {{ pickup.channel_name}}  {{ pickup.name }}[{{ pickup.players.length }}/{{ pickup.size }}]
            <div v-if="match === null">
              <button class="add" v-if="!in_pickup(pickup)" @click="add(pickup)">+</button>
              <button class="remove" v-else @click="remove(pickup)">-</button>
            </div>
            <span v-for="player in pickup.players" :key="player.id">{{ player.nick}}</span>
        </li>
      </ul>
    </div>
    <h3 v-else>pickups of channel are only shown after you are added in some</h3>
  </div>
</template>

<script>

export default {
  name: 'Pickups',
  computed: {
    pickups () {
      return this.$store.state.pickups
    },
    match () {
      return this.$store.state.match
    },
  },
  methods: {
    add(pickup) {
      this.$store.dispatch('send_add', {'channel_id': pickup.channel_id, 'name': pickup.name})
    },
    remove(pickup) {
      this.$store.dispatch('send_remove', {'channel_id': pickup.channel_id, 'name': pickup.name})
    },
    in_pickup(pickup) {
      return pickup.players.some(player => player.id == this.$store.state.user_id)
    }
  }
}
</script>

<style>
ul.pickups {
  text-align: left
}
.pickups li span{
  margin-right: 0.4rem
}
button.add {
  background-color: #ccffee;
}
button.remove {
  background-color: #ffccee;
}
</style>