<template>
  <div id="stats" v-if="stats.length > 0">
    <h2>User stats</h2>
    <div class="user-stats">
      <div v-for="channel in stats" :key="channel.channel_id" class="channel_stats">
        <h3>{{ channel.server_name }}:{{ channel.channel_name }}</h3> <button @click="showLeaderBoardModal(channel)">Leader board</button>
        <div>
          rating: {{ channel.rank }} wins/losses: {{ channel.wins}}/{{ channel.loses}}
          {{ winrate(channel.wins, channel.loses) }}%
          streak: {{ channel.streak }}
        </div>
        <div class="channel-stats-chart"><ChannelStatsChart style="position:relative; height:25vh; min-height: 250px" :chartData="chartData(channel.pickups)"/></div>
        <!--
        <div>{{ channel.pickups.map(pickup => pickup[6]) }}, </div>
        <div>{{ channel.pickups.map(pickup => pickup[0]) }}, </div>
        -->
        <div style="text-align:center"><button @click="change_page(channel, +1)">◀️</button>
          Page: {{ channel.index+1 }}
        <button v-if="channel.index > 0" @click="change_page(channel, -1)">️️▶️</button></div>
      </div>
    </div>
  </div>
</template>

<script>
import ChannelStatsChart from './ChannelStatsChart.vue'
export default {
  name: 'Stats',
  components: {
    ChannelStatsChart
  },
  computed: {
    stats() {
      return this.$store.getters.channel_stats
    }
  },
  methods: {
    winrate(wins,loses) {
      return Math.round(wins/(wins+loses)*100)
    },
    resultToStr(result) {
      return result == 1 ? "win" : (result == 0 ? 'loss' : (result == 0.5 ? 'draw' : ''))
    },
    atToLocalTime(at) {
      var d = new Date(0)
      d.setUTCSeconds(at);
      return d.toLocaleString()
    },
    showLeaderBoardModal(channel) {
      this.$store.dispatch('get_leader_board', {'channel_id': channel.channel_id, 'index': 0})
      this.$root.$emit('show-leader-board-modal')
    },
    chartData(pickups) {
      const ranks = pickups.map(pickup => pickup[6])
      return {
        labels:pickups.map(pickup =>
`Match id: ${pickup[0]} Pickup: ${pickup[1]}
at: ${this.atToLocalTime(pickup[2])}
team: ${pickup[3]}
team alpha: ${pickup[7]}
team beta: ${pickup[8]}
result: ${this.resultToStr(pickup[5])}
`),
        //labels: [...Array(pickups.length).keys()],
        datasets: [{label:'rating', data:ranks, pointRadius: 8, pointHoverRadius: 12, cubicInterpolationMode: 'monotone'}]}
    },
    change_page(channel, change) {
      if (channel.index + change >= 0)
        this.$store.dispatch('get_user_pickups', {'channel_id': channel.channel_id, 'index': channel.index + change})
    },
  }
}
</script>

<style>
#stats {

}

.user-stats {

}

.user-stats div {
  margin: 10px;
}

.channel-stats-chart {

}

</style>