<template>
    <div class="user">
        <div v-if="!isConnecting">
          <div v-if="!this.isLogged">
            <h1>GatherMaster web interface</h1>
            <Login />
          </div>
          <div v-else class="logout"><a :href="logout_url"><button>Logout</button></a></div>
        </div>
        <div v-else>
          connecting to websocket...
        </div>
        <div v-if="couldNotConnect">
          could not connect to websocket.
        </div>
    </div>
</template>

<script>
import Login from './Login.vue'

export default {
    name: 'User',
    components: {
      Login
    },
    data() {
        return {
            logout_url: `${process.env.VUE_APP_SERVER_URL}/logout/`
        }
    },
    computed: {
        isLogged () {
          return this.$store.getters.isLogged
        },
        isConnecting () {
           return !this.$store.getters.isConnected && !this.$store.getters.isLogged && !this.$store.getters.loginFailed
        },
        couldNotConnect() {
          return this.$store.getters.connectionFailed
        }
    }
}
</script>

<style>
div.logout { text-align: right; }
</style>